body {
    background-image: url("/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 0;
    margin: 0;
}
main {
    padding: 10px;
}
.top {
    display: flex;
    justify-content: space-between;
    background-color: rgba(176, 196, 222, 0.75);
    border-bottom: 10px solid rgba(205, 133, 63, 0.5);
}
.logo {
    float: left;
}

.logo img {
    height: 100px;
    width: 175px;
}
.welcome {
    color: black;
    font-size: 30px;
    background-color: rgba(176, 196, 222, 0.75);
}
.link {
    font-size: 20px;
    /* background-color: rgba(244, 164, 96, 0.85); */
    background-color: rgba(205, 133, 63, 0.5);
    height: 120px;
}
/* hr {
    clear: both;
} */
input {
    height: 30px;
    width: 175px;
}
/* #registerbot {
    height: 25px;
    width: 70px;
} */
#login,
#register {
    height: 20px;
    width: 70px;
}

.site-header {
    background-color: rgba(0, 0, 128, 0.5);
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
    color: lightgrey;
}
.profile {
    display: flex;
}
.profilepic {
    /* float: right; */
    height: 100px;
    width: 100px;
    /* background-color: rgba(176, 196, 222, 0.5); */
}
.profile .profilepic {
    /* float: left; */
    height: 300px;
    width: 300px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100vw;
}
.profile .name {
    font-size: 50px;
    /* margin-right: 20px; */
    background-color: rgba(0, 0, 128, 0.5);
    color: lightgrey;
}
.friendship {
    background-color: lightgrey;
    color: blue;
    flex-direction: row;
}
.friendship .button {
    width: 50px;
    flex-direction: row;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: white; */
}

.popup-content {
    position: absolute;
    margin: 50px;
    width: 80%;
    height: 80%;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    overflow-y: scroll;
}

.popup-x {
    display: fixed;
    top: 5px;
    right: 5px;
    /* width: 100%; */
    text-align: right;
    cursor: pointer;
}
.bio {
    height: 100px;
    font-size: 30px;
    /* display: inline; */
}
.bio a {
    font-size: 20px;
    color: white;
}
.biotext {
    background-color: lightgrey;
}
.friendslist {
    display: flex;
    flex-direction: column;
}
.wannabes {
    background-color: rgba(192, 192, 192, 0.75);
    display: flex;
    border-bottom: 10px solid rgba(205, 133, 63, 0.5);
}
.friends {
    background-color: rgba(176, 196, 222, 0.75);
    display: flex;
    border-bottom: 10px solid rgba(205, 133, 63, 0.5);
}

@media screen and (max-width: 480px) {
    input {
        display: block;
        width: 90%;
    }

    body {
        padding: 0px;
    }

    .popup-content {
        width: auto;
        margin: 0;
    }
}
